.component header {
    background-color: var(--top-bar);
    color: var(--primery-text);
}

.component footer {
    background-color: var(--top-bar);
    color: var(--primery-text);
}

.component nav {
    background-color: var(--surface);
    color: var(--primery-text);
}


.component main {
    background-color: var(--canvas);
    color: var(--primery-text);
}

