.nav-item{
    border-radius: var(--mid-radius);
}

::deep .nav-item a.nav-link {
    color: var(--secondery-text) !important;
}

::deep .nav-item a.active {
    color: var(--primery-text) !important;
}

.nav-item:hover {
    background-color: var(--top-bar);
}

.bi {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    vertical-align: -0.125em;
    color: var(--secondery-text);
}

::deep .nav-item a.active .bi {
    color: var(--primery-text) !important;
}

